<section class="container">
  <table class="table-list" id="kitchenTable">
    <thead>
      <tr>
        <th>Order No.</th>
        <th>Customer</th>
        <th>Date</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody></tbody>
    </table>
    
    <template id="kitchenRow">
      <tr>
          <td class="text-center" data-id="orderNo"></td>
          <td class="text-center" data-id="customerName"></td>
          <td class="text-center" data-id="date"></td>
          <td class="text-center" data-id="status">
            <select class="custom-select" onchange="changeStatus(this)">
              <option value="Preparing">Preparing </option>
              <option value="Ready">Ready </option>
            </select>
          </td>
      </tr>
    </template>
</section>