<div class="reservation-container">
  <div class="res-header">
    <form novalidate id="reservationForm">
      
      <div class="res-control-grp">
            <label><strong>Date</strong></label>
            <input type="date" class="res-input-grp"  name="date" id="date"  />
        </div>
        <div class="res-control-grp">
            <label><strong>Name</strong></label>
            <input type="text" class="res-input-grp" name="personName" id="personName" />
        </div>
        <div class="res-control-grp">
            <label><strong>Contact</strong></label>
            <input type="text" class="res-input-grp" name="contactNo" id="contactNo" />
        </div>
        <div class="res-control-grp">
          <label><strong>Email</strong></label>
          <input type="text" class="res-input-grp" name="email" id="email" />
        </div>
        <div class="res-control-grp">
          <label><strong>No. of Seats</strong></label>
          <input type="number" class="res-input-grp" name="numSeats" id="numSeats" />
        </div>
  
        <div class="res-control-grp">
          <label><strong>Status</strong></label>
          <select class="custom-select" name="status" >
            <option value="Pending">Pending </option>
            <option value="Confirmed">Confirmed </option>
            <option value="Canceled">Canceled </option>
          </select>
        </div>
        <input type="text" style="display:none" name="id" id="id"  />  
        <div class="res-control-grp">
          <label>&nbsp;</label>
            <input type="submit" class="btn res-input-grp" value="Save" />
        </div>
    </form>
  </div>
  
  <table class="table-list" id="reservationTable">
    <thead>
    <tr>
      <th>Date</th>
      <th>Name</th>
      <th>Contact</th>
      <th>Email</th>
      <th>No. of Seats</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody></tbody>
  </table>
  
  <template id="reservationRow">
    <tr>
        <td class="text-center" data-id="datee"></td>
        <td class="text-center" data-id="personName"></td>
        <td class="text-center" data-id="contactNo"></td>
        <td class="text-center" data-id="email"></td>
        <td class="text-center" data-id="numSeats"></td>
        <td class="text-center" data-id="status"></td>
        <td class="text-center"><a href="#" class="action" onclick="ediRes(this)">Edit</a><a href="#" onclick="delRes(this)" class="action">Delete</a></td>
    </tr>
  </template>
  
</div>