#userManagement {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0px 20px;
}

.control-grp {
  padding: 10px;
}

#userTable {
  width: 100%;
}

 

#userTable, td {
  text-align: center;
}

/* .user-container {
  background-color:  #025781;
  color: white;
} */

#userTable , .userheader {
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.4);
  transition: 0.3s;
}